#{extends 'Application/index.html'/}
#{set title: title /}

<div class="row">
    #{list items:weeks, as:'week'}
    <div class="col-md-12" style="margin-top:30px;">
        <h3>Week ${week_index}</h3>
        <table class="table" style="margin:10px 0 10px 0; text-align:center;">
            <thead>
                <tr>
                    <th><center>HOME</center></th>
                    <th><center></center></th>
                    <th><center>AWAY</center></th>
                    <th><center>RESULT</center></th>
                </tr>
            </thead>
            <tbody>
                #{list items:weeks.get(week_index-1), as:'game'}
                <tr #{if userModel.id == game.getTeamById(game.home_team_id).user_id || userModel.id == game.getTeamById(game.away_team_id).user_id } style="background-color:#fff6d9" #{/if}>
                    <td><a href="/team/${game.home_team_id}">${game.getTeamById(game.home_team_id).name}</a></td>
                    <td><a href="/team/${game.home_team_id}">v</td>
                    <td><a href="/team/${game.away_team_id}">${game.getTeamById(game.away_team_id).name}</a></td>
                    #{if game.home_team_id != 0 && game.away_team_id != 0}
                        #{if game.played}<td><a href="/game/${game.id}"><button class="btn btn-primary" style="width:65px; height:25px; line-height:8px; font-size:12px;">View</button></a></td>#{/if}
                        #{elseif !game.played && userModel.isAdmin}<td><a href="/game/${game.id}"><button class="btn btn-inverse" style="width:65px; height:25px; line-height:8px; font-size:12px;">Set</button></a></td>#{/elseif}
                        #{else}<td><button class="btn btn-inverse" style="width:65px; height:25px; line-height:8px; font-size:12px;">--</button></td>#{/else}
                    #{/if}
                    #{else}
                        <td>--</td>
                    #{/else}
                </tr>
                #{/list}
            </tbody>
        </table>
    </div>
    #{/list}
</div>
