#{extends 'Application/index.html'/}
#{set title: title /}

<style xmlns="http://www.w3.org/1999/html">
    td .p {
        font-size:10px;
    }
</style>

<div class="row">
    <div class="col-md-2"style="margin:-20px 0 0 280px;">
        <img src="${currentTeam.logo_url}" height="150px"/>
    </div>
    <div class="col-md-4" style="margin:10px 0 0 10px;">
        <h4>${currentTeam.getUserOfTeam(currentTeam.user_id).name}</h4>
        <p>Record: ${currentTeam.getTeamStatsByTeamAndSeasonId(currentTeam.id,currentTeam.season_id).wins} - ${currentTeam.getTeamStatsByTeamAndSeasonId(currentTeam.id,currentTeam.season_id).losses} - ${currentTeam.getTeamStatsByTeamAndSeasonId(currentTeam.id,currentTeam.season_id).draws}</p>
    </div>
</div>
<div class="row" style="margin-top:40px;">
   <div class="col-md-12">
            <table class="table" style="margin:10px 0 10px 0; text-align:center;">
                <thead>
                <tr>
                    <th><center>WEEK</center></th>
                    <th><center>HOME</center></th>
                    <th><center>AWAY</center></th>
                    <th><center>RESULT</center></th>
                </tr>
                </thead>
                #{list items:games, as:'game'}
                    #{if game.home_team_id != 0 & game.away_team_id != 0}
                    <tbody>
                    <tr>
                        <td>${game.week}</td>
                        <td><a href="/team/${game.home_team_id}">${game.getTeamById(game.home_team_id).name}</a></td>
                        <td><a href="/team/${game.away_team_id}">${game.getTeamById(game.away_team_id).name}</a></td>
                        #{if game.home_team_id != 0 && game.away_team_id != 0}
                            #{if game.played}<td><a href="/game/${game.id}"><button class="btn btn-primary" style="width:65px; height:25px; line-height:8px; font-size:12px;">View</button></a></td>#{/if}
                            #{elseif !game.played && userModel.isAdmin}<td><a href="/game/${game.id}"><button class="btn btn-inverse" style="width:65px; height:25px; line-height:8px; font-size:12px;">Set</button></a></td>#{/elseif}
                            #{else}<td><button class="btn btn-inverse" style="width:65px; height:25px; line-height:8px; font-size:12px;">--</button></td>#{/else}
                        #{/if}
                        #{else}
                            <td>--</td>
                        #{/else}
                    </tr>
                    </tbody>
                    #{/if}
                #{/list}
            </table>
    </div>
</div>
